[submodule "backend"]
	path = backend
	url = https://github.com/imaginary-units-pfur/map-segmentation-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/imaginary-units-pfur/map-segmentation-frontend
[submodule "gendata"]
	path = gendata
	url = https://github.com/imaginary-units-pfur/map-segmentation-gendata
[submodule "training"]
	path = training
	url = https://github.com/imaginary-units-pfur/map-segmentation-training
